html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-width: none;
}
#text{
    direction: rtl;
    margin-left: 0%;
}
#t{
    margin-top: 0%;
}
.a{
    background-color: green;
    width: 250px;
    border-radius: 15px;
}